

.margin-bottom {
    margin-bottom:20px;
}

#overlay {
    position: absolute;
    left: -10px;
    top: 0;
    bottom: 0;
    width: 2000px;
    height: 100%;
    background-image:url('img/bg.png')
  
}
.sliderIMG {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 50%;
}

.credits {
    left:auto;
    right:auto;
    text-align:center;
    color:white;
}

#home {
    margin-left:auto;
    margin-right:auto;
}
.success {
    color: #4F8A10;
    background-color: #DFF2BF;

}
.warning {
    color: #9F6000;
    background-color: #FEEFB3;
}

.error {
    color: red;
    background-color: #FF9494;

}

.keyboard-shortcuts {
    text-decoration: none;
    color: #999;
    font-size: 11px;
}

.keyboard-shortcuts a:hover {
    text-decoration: none;
    color: #333333;
}

.keyboard-key {
    display: inline-block;
    margin: 0;
    padding: 3px 6px;
    min-width: 10px;
    text-align: center;
    font-family: Monaco, "Liberation Mono", Courier, monospace;
    background: #333;
    color: #EEE;
    border-radius: 2px;
    text-shadow: 1px 1px 0 #000;
}

.keyboard-action {
    display: inline;
    margin: 0 0 0 5px;
    color: #666;
}

.info, .success, .warning, .error, .validation {
    border: 1px solid;
    /*height: 20px;*/
    margin: 10px 0px;
    padding:10px 10px 10px 10px;
    background-repeat: no-repeat;
    background-position: 10px center;
}

#badge-ribbon {
    position: relative;
    background: #DFDF00;
    border: 5px solid #C8C800;
    height: 100px;
    width: 100px;
    -moz-border-radius:    50px;
    -webkit-border-radius: 50px;
    border-radius:         50px;
    margin-bottom: 50px;
}

#badge-ribbon:before,
#badge-ribbon:after {
    content: '';
    position: absolute;
    border-bottom: 70px solid #DFDF00;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    top: 70px;
    left: -10px;
    -webkit-transform: rotate(-140deg);
    -moz-transform:    rotate(-140deg);
    -ms-transform:     rotate(-140deg);
    -o-transform:      rotate(-140deg);
}

#badge-ribbon:after {
    left: auto;
    right: -10px;
    -webkit-transform: rotate(140deg);
    -moz-transform:    rotate(140deg);
    -ms-transform:     rotate(140deg);
    -o-transform:      rotate(140deg);
}
.wrapper {
  margin: 50px auto;
  width: 280px;
  height: 370px;
  background: white;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 8px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 8px rgba(0,0,0,0.3);
  position: relative;
  z-index: 90;
}

.ribbon-wrapper-green {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
}

.ribbon-green {
  font: bold 15px Sans-Serif;
  color: #333;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: #BFDC7A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45)); 
  background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45); 
  color: #6a6340;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-green:before, .ribbon-green:after {
  content: "";
  border-top:   3px solid #6e8900;   
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon-green:before {
  left: 0;
}
.ribbon-green:after {
  right: 0;
}}